<mat-card>
  <mat-card-header>
    <mat-card-title>
      Ingredient – {{details.name}}
    </mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Category: {{ details.category_id }}</li>
      <li>Price: {{ details.price }}</li>
      <li>Calories: {{ details.calories }}</li>
      <li>Proteins: {{ details.proteins }}</li>
      <li>Carbohydrates: {{ details.carbohydrates }}</li>
      <li>Fats: {{ details.fats }}</li>
    </ul>
  </mat-card-content>
</mat-card>
