<mat-card>
  <mat-card-header>
    <mat-card-title>
      Meal: {{details.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li> Description: {{details.description}}</li>
      <li> Ingredients: <br>
        <ul>
          @for (ingredient of details.ingredients; track ingredient.id) {
            <li><a [routerLink]="['/food/ingredient/read', ingredient.id]">{{ ingredient.name }}</a></li>
          }
        </ul>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
