<div style="padding: 1rem">
  <a routerLink="/food/ingredient/1">Ingredient #1</a> <br>
  <a routerLink="/food/ingredients">Ingredients</a> <br>
  <a routerLink="/food/ingredient">New Ingredient</a> <br>
  <hr>
  <a routerLink="/food/meal/1">Meal #1</a> <br>
  <a routerLink="/food/meals">Meals</a> <br>
  <a routerLink="/food/meal">New Meal</a> <br>
  <hr>
  <a routerLink="/food/diet/1">Diet #1</a> <br>
  <a routerLink="/food/diets">Diets</a> <br>
  <a routerLink="/food/diet">New Diet</a> <br>
  <hr>
  <a routerLink="/food/shopping-list/1">Shopping List #1</a> <br>
  <a routerLink="/food/shopping-lists">Shopping Lists</a> <br>
  <a routerLink="/food/shopping-list">New Shopping List</a> <br>
  <hr>

  <router-outlet></router-outlet>
</div>
