<div style="padding: 1rem">
  <a routerLink="/food/ingredient/read/1">Ingredient #1</a> <br>
  <a routerLink="/food/ingredient/read/all">Ingredients</a> <br>
  <a routerLink="/food/ingredient/create">New Ingredient</a> <br>
  <a routerLink="/food/ingredient/edit/1">Edit Ingredient #1</a> <br>
  <hr>
  <a routerLink="/food/meal/read/1">Meal #1</a> <br>
  <a routerLink="/food/meal/read/all">Meals</a> <br>
  <a routerLink="/food/meal/create">New Meal</a> <br>
  <a routerLink="/food/meal/edit/1">Edit Meal #1</a> <br>
  <hr>
  <a routerLink="/food/diet/read/1">Diet #1</a> <br>
  <a routerLink="/food/diet/read/all">Diets</a> <br>
  <a routerLink="/food/diet/create">New Diet</a> <br>
  <a routerLink="/food/diet/edit/1">Edit Diet #1</a> <br>
  <hr>
  <a routerLink="/food/shopping-list/read/1">Shopping List #1</a> <br>
  <a routerLink="/food/shopping-list/read/all">Shopping Lists</a> <br>
  <a routerLink="/food/shopping-list/create">New Shopping List</a> <br>
  <a routerLink="/food/shopping-list/edit/1">Edit Shopping List #1</a> <br>
  <hr>

  <router-outlet></router-outlet>
</div>
