<p>meal works!</p>

<h1>{{details.name}} - {{price}} zł</h1>
<p>{{details.description}}</p>
<span>Calories: {{calories}}, proteins: {{proteins}}, carbohydrates: {{carbohydrates}}, fats: {{fats}}</span>
<ul>
  <li *ngFor="let ingredient of details.ingredients">
    {{ingredient.count ? 'x' + ingredient.count : ''}} {{ingredient.name}} {{ingredient.amount ? '(' + ingredient.amount + 'g)' : ''}},
    calories: {{ingredient.calories | nutritionPer100g : ingredient.amount}},
    proteins: {{ingredient.proteins | nutritionPer100g : ingredient.amount}},
    carbohydrates: {{ingredient.carbohydrates | nutritionPer100g : ingredient.amount}},
    fats: {{ingredient.fats | nutritionPer100g : ingredient.amount}}
  </li>
</ul>
